.wwd1 {
  padding: 5rem;
  background-color: var(--primary-yellow-bg);
}

.wwd1 .whatwedo {
  display: flex;
  column-gap: 3rem;
  margin-top: 3rem;
}
.wwd1 h3#wwd-title {
  font-size: 35px;
}
.wwd1 .whatwedo .col li {
  margin-bottom: 3rem;
}

.wwd1 .whatwedo .col li p {
  font-size: 13px;
  margin: 10px 0;
}
